<div id="top_bar" ng-class="{'topbar-double-height': vm.pageOptions.topBarHeight=='x2'}" ng-show="vm.pageOptions.isDisplayTopBar" class="no-animate">
    <div class="md-top-bar">
        <div class="uk-width-large-8-10 uk-container-center">
            <ul class="top_bar_nav" id="snippets_grid_filter">
                <li ng-repeat="nhom in vm.pageOptions.filters.nhomsFilterSource" ng-show="nhom.isActive" ng-class="{'uk-active': nhom.ma===vm.pageOptions.filters.filterNhomId}" ng-click="vm.utils.setFilterByNhomId(nhom.ma)">
                    <a href="#">{{ nhom.ten_ngan }}</a>
                </li>
            </ul>
        </div>
    </div>
</div>

<div class="uk-grid uk-margin-medium-top uk-margin-large-bottom" data-uk-grid-margin>
    <div class="uk-width-1-1">
    	<div class="uk-container-center" ng-class="{'uk-width-large-8-10': !vm.pageOptions.isDisplayFullWidthGrid, 'uk-width-large-1-1': vm.pageOptions.isDisplayFullWidthGrid}">
            
            <k-grid-menu
                grid-data="vm.gridData"
                page-options="vm.pageOptions"
                k-data="vm._kData"
                k-helpers="vm._kHelpers"
                local-config-data-name="vm.pageOptions.localConfigDataName"
                cloud-config-data-name="vm.pageOptions.cloudConfigDataName"
                >
            </k-grid-menu>
			
            <br/>

            <kendo-grid
                id="myGrid"
                k-data-source="vm.gridData.kGrid.kData.dataSource"
                k-columns="vm.gridData.kGrid.kOptions.columns"
                k-selectable="vm.gridData.kGrid.kOptions.selectable"
                k-allow-copy="vm.gridData.kGrid.kOptions.allowCopy"
                k-sortable="vm.gridData.kGrid.kOptions.sortable"
                k-pageable="vm.gridData.kGrid.kOptions.pageable"
                k-filterable="vm.gridData.kGrid.kOptions.filterable"
                k-groupable="vm.gridData.kGrid.kOptions.groupable"
                k-navigatable="vm.gridData.kGrid.kOptions.navigatable"
                k-resizable="vm.gridData.kGrid.kOptions.resizable"
                k-reorderable="vm.gridData.kGrid.kOptions.reorderable"
                k-scrollable="vm.gridData.kGrid.kOptions.scrollable"
                k-excel="vm.gridData.kGrid.kOptions.excel"
                k-pdf="vm.gridData.kGrid.kOptions.pdf"
                k-toolbar="vm.gridData.kGrid.kOptions.toolbar"
                k-rebind="vm.gridData.kGrid"
                k-on-change="vm.gridData.kGrid.gridOnChange(kendoEvent)"
                k-on-data-bound="vm.gridData.kGrid.gridOnDataBound(kendoEvent)">
            </kendo-grid>
		</div>
    </div>
</div>

<thietbis-modal-details source="vm.pageOptions.selected.thietbi"></thietbis-modal-details>

<div class="md-fab-wrapper">
    <a class="md-fab md-fab-accent no-animate" ng-show="vm.pageOptions.fabState==='thietbis_createNew'" ui-sref="thietbis.addNew">
        <i class="material-icons">&#xE145;</i>
    </a>
    <a class="md-fab md-fab-accent no-animate" ng-show="vm.pageOptions.fabState==='thietbis_viewDetails'" data-uk-modal="{target: '#modal_thietbis_details'}">
        <i class="material-icons">&#xE8B6;</i>
    </a>
</div>

<!-- secondary sidebar -->
<aside id="sidebar_secondary" sidebar-secondary class="tabbed_sidebar">
    <ul class="uk-tab uk-tab-icons uk-tab-grid" data-uk-tab="{connect:'#dashboard_sidebar_tabs', animation:'slide-horizontal'}">
        <li class="uk-active uk-width-1-3"><a href="#"><i class="material-icons">&#xE89D;</i></a></li><!-- &#xE917; &#xE90B; -->
        <li class="uk-width-1-3 chat_sidebar_tab"><a href="#"><i class="material-icons">&#xE0B7;</i></a></li>
        <li class="uk-width-1-3"><a href="#"><i class="material-icons">&#xE8B9;</i></a></li>
    </ul>

    <div custom-scrollbar>
        <ul id="dashboard_sidebar_tabs" class="uk-switcher">
            <li>
                <div class="timeline timeline_small uk-margin-bottom">
                    <div class="timeline_item" style="padding: 0;">
                        <div class="timeline_content" style="padding: 0;">
                            <div class="uk-width-medium-1-1 uk-clearfix">
                                <div class="uk-align-medium-right" style="margin: 0;">
                                    <i class="md-icon material-icons no-animate" ng-class="{'color-fade': !vm.pageOptions.able.decreaseNumOfLuaChons}" ng-click="vm.utils.resetTagSection()">&#xE5D5;</i>
                                    <i class="md-icon-fade material-icons no-animate" ng-class="{'uk-text-warning': vm.pageOptions.template.flags.isLockSectionTags}" ng-click="vm.utils.toggleLockSectionTags()">{{ (!vm.pageOptions.template.flags.isLockSectionTags) ? '&#xE898;' : '&#xE899;' }}</i>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="timeline_item">
                        <div class="timeline_icon timeline_icon_success"><i class="material-icons">&#xE85D;</i></div>
                        <div class="timeline_date">
                            <span>Giới hạn dữ liệu</span>
                        </div>
                        <div class="timeline_content">
                            Bạn có thể thu hẹp vùng dữ liệu tìm kiếm bằng cách sử dụng các bộ lọc dưới đây.
                        </div>
                    </div>
                    <div class="timeline_item">
                        <div class="timeline_icon"><i class="material-icons">&#xE41D;</i></div>
                        <div class="timeline_date">
                            <span>Thẻ dấu (Tag)</span>
                        </div>
                        <!-- Chú ý stopPropagation để tránh event bubble, ngăn không cho sidebar đóng khi user thay đổi mutilselect -->
                        <div class="timeline_content" ng-click="$event.stopPropagation();">
                            <select kendo-multi-select id="cauhoi_phanloai_tags"
                                k-data-source="vm.pageReactiveData.tags"
                                k-filter="'contains'"
                                k-highlight-first="false"
                                k-data-text-field="'ten'"
                                k-data-value-field="'ten'"
                                ng-model="vm.pageReactiveData.searchTags"
                                >
                            </select>
                        </div>
                    </div>
                    <div class="timeline_item">
                        <div class="timeline_icon"><i class="material-icons">&#xE637;</i></div>
                        <div class="timeline_date">
                            <span>Nhóm thiết bị</span>
                        </div>
                        <div class="timeline_content" ng-click="$event.stopPropagation();">
                            <select kendo-multi-select id="cauhoi_phanloai_loaithietbi"
                                k-data-source="vm.dictionary.loai_tbs['thiet_bi_nang']"
                                k-filter="'contains'"
                                k-highlight-first="false"
                                ng-model="vm.pageReactiveData.searchLoaitbs">
                            </select>
                        </div>
                    </div>
                    <div class="timeline_item">
                        <div class="timeline_icon"><i class="material-icons">&#xE01D;</i></div>
                        <div class="timeline_date">
                            <span>Bậc thi</span>
                        </div>
                        <div class="timeline_content" ng-click="$event.stopPropagation();">
                            <select kendo-multi-select id="cauhoi_phanloai_bacthis"
                                k-data-source="vm.dictionary.bac_this"
                                k-filter="'contains'"
                                k-highlight-first="true"
                                ng-model="vm.pageReactiveData.searchBacthis">
                            </select>
                        </div>
                    </div>
                </div>
            </li>
            <li>
                <ul class="md-list md-list-addon chat_users">
                    <li>
                        <div class="md-list-addon-element">
                            <img class="md-user-image md-list-addon-avatar" src="assets/img/avatars/avatar_02_tn.png" alt=""/>
                        </div>
                        <div class="md-list-content">
                            <span class="md-list-heading">Catalina Weber</span>
                            <span class="uk-text-small uk-text-muted">
                                <span class="uk-text-small uk-text-muted">
                                    Lorem ipsumm...
                                </span>
                            </span>
                        </div>
                    </li>
                    <li>
                        <div class="md-list-addon-element">
                            <img class="md-user-image md-list-addon-avatar" src="assets/img/avatars/avatar_07_tn.png" alt=""/>
                        </div>
                        <div class="md-list-content">
                            <span class="md-list-heading">Jayme Hermiston</span>
                            <span class="uk-text-small uk-text-muted">
                                Lorem ipsumm...
                            </span>
                        </div>
                    </li>
                    <li>
                        <div class="md-list-addon-element">
                            <img class="md-user-image md-list-addon-avatar" src="assets/img/avatars/avatar_06_tn.png" alt=""/>
                        </div>
                        <div class="md-list-content">
                            <span class="md-list-heading">Enid Roob</span>
                            <span class="uk-text-small uk-text-muted">
                                <span class="uk-text-small uk-text-muted">
                                    Lorem ipsumm...
                                </span>
                            </span>
                        </div>
                    </li>
                    <li>
                        <div class="md-list-addon-element">
                            <img class="md-user-image md-list-addon-avatar" src="assets/img/avatars/avatar_04_tn.png" alt=""/>
                        </div>
                        <div class="md-list-content">
                            <span class="md-list-heading">Enid Roob</span>
                            <span class="uk-text-small uk-text-muted">
                                <span class="uk-text-small uk-text-muted">
                                    Lorem ipsumm...
                                </span>
                            </span>
                        </div>
                    </li>
                </ul>
                <div class="chat_box_wrapper chat_box_small" id="chat">
                    <div class="chat_box touchscroll chat_box_colors_a">
                        <div class="chat_message_wrapper">
                            <div class="chat_user_avatar">
                                <img class="md-user-image" src="assets/img/avatars/avatar_11_tn.png" alt=""/>
                            </div>
                            <ul class="chat_message">
                                <li>
                                    <p> Lorem ipsum dolor sit amet, consectetur adipisicing elit. Distinctio, eum? </p>
                                </li>
                                <li>
                                    <p> Lorem ipsum dolor sit amet.<span class="chat_message_time">13:38</span> </p>
                                </li>
                            </ul>
                        </div>
                        <div class="chat_message_wrapper chat_message_right">
                            <div class="chat_user_avatar">
                                <img class="md-user-image" src="assets/img/avatars/avatar_03_tn.png" alt=""/>
                            </div>
                            <ul class="chat_message">
                                <li>
                                    <p>
                                        Lorem ipsum dolor sit amet, consectetur adipisicing elit. Autem delectus distinctio dolor earum est hic id impedit ipsum minima mollitia natus nulla perspiciatis quae quasi, quis recusandae, saepe, sunt totam.
                                        <span class="chat_message_time">13:34</span>
                                    </p>
                                </li>
                            </ul>
                        </div>
                        <div class="chat_message_wrapper">
                            <div class="chat_user_avatar">
                                <img class="md-user-image" src="assets/img/avatars/avatar_11_tn.png" alt=""/>
                            </div>
                            <ul class="chat_message">
                                <li>
                                    <p>
                                        Lorem ipsum dolor sit amet, consectetur adipisicing elit. Atque ea mollitia pariatur porro quae sed sequi sint tenetur ut veritatis.
                                        <span class="chat_message_time">23 Jun 1:10am</span>
                                    </p>
                                </li>
                            </ul>
                        </div>
                        <div class="chat_message_wrapper chat_message_right">
                            <div class="chat_user_avatar">
                                <img class="md-user-image" src="assets/img/avatars/avatar_03_tn.png" alt=""/>
                            </div>
                            <ul class="chat_message">
                                <li>
                                    <p> Lorem ipsum dolor sit amet, consectetur. </p>
                                </li>
                                <li>
                                    <p>
                                        Lorem ipsum dolor sit amet, consectetur adipisicing elit.
                                        <span class="chat_message_time">Friday 13:34</span>
                                    </p>
                                </li>
                            </ul>
                        </div>
                    </div>
                </div>
            </li>
            <li>
                <h4 class="heading_c uk-margin-small-bottom uk-margin-top">General Settings</h4>
                <ul class="md-list">
                    <li>
                        <div class="md-list-content">
                            <div class="uk-float-right">
                                <input type="checkbox" class="switchery switchery-small" ui-switch id="settings_site_online" name="settings_site_online" ng-model="vm.sSidebar.site_online" />
                            </div>
                            <span class="md-list-heading">Site Online</span>
                            <span class="uk-text-muted uk-text-small">Lorem ipsum dolor sit amet&hellip;</span>
                        </div>
                    </li>
                    <li>
                        <div class="md-list-content">
                            <div class="uk-float-right">
                                <input type="checkbox" class="switchery switchery-small" ui-switch id="settings_seo" name="settings_seo" ng-model="vm.sSidebar.seo" />
                            </div>
                            <span class="md-list-heading">Search Engine Friendly URLs</span>
                            <span class="uk-text-muted uk-text-small">Lorem ipsum dolor sit amet&hellip;</span>
                        </div>
                    </li>
                    <li>
                        <div class="md-list-content">
                            <div class="uk-float-right">
                                <input type="checkbox" class="switchery switchery-small" ui-switch id="settings_url_rewrite" name="settings_url_rewrite" ng-model="vm.sSidebar.url_rewrite" />
                            </div>
                            <span class="md-list-heading">Use URL rewriting</span>
                            <span class="uk-text-muted uk-text-small">Lorem ipsum dolor sit amet&hellip;</span>
                        </div>
                    </li>
                </ul>
                <hr class="md-hr">
                <h4 class="heading_c uk-margin-small-bottom uk-margin-top">Other Settings</h4>
                <ul class="md-list">
                    <li>
                        <div class="md-list-content">
                            <div class="uk-float-right">
                                <input type="checkbox" class="switchery switchery-small" ui-switch color="#7cb342" id="settings_top_bar" name="settings_top_bar" ng-model="vm.sSidebar.top_bar" />
                            </div>
                            <span class="md-list-heading">Top Bar Enabled</span>
                            <span class="uk-text-muted uk-text-small">Lorem ipsum dolor sit amet&hellip;</span>
                        </div>
                    </li>
                    <li>
                        <div class="md-list-content">
                            <div class="uk-float-right">
                                <input type="checkbox" class="switchery switchery-small" ui-switch color="#7cb342" id="settings_api" name="settings_api" ng-model="vm.sSidebar.api" />
                            </div>
                            <span class="md-list-heading">Api Enabled</span>
                            <span class="uk-text-muted uk-text-small">Lorem ipsum dolor sit amet&hellip;</span>
                        </div>
                    </li>
                    <li>
                        <div class="md-list-content">
                            <div class="uk-float-right">
                                <input type="checkbox" class="switchery switchery-small" ui-switch color="#d32f2f" id="settings_minify_static" name="settings_minify_static" ng-model="vm.sSidebar.minify_assets" />
                            </div>
                            <span class="md-list-heading">Minify JS files automatically</span>
                            <span class="uk-text-muted uk-text-small">Lorem ipsum dolor sit amet&hellip;</span>
                        </div>
                    </li>
                </ul>
            </li>
        </ul>
    </div>

    <button type="button" class="chat_sidebar_close uk-close"></button>
    <div class="chat_submit_box">
        <div class="uk-input-group">
            <input type="text" class="md-input" name="submit_message" id="submit_message" placeholder="Send message">
            <span class="uk-input-group-addon">
                <a href="#"><i class="material-icons md-24">&#xE163;</i></a>
            </span>
        </div>
    </div>
</aside>
<!-- secondary sidebar end -->


