<button ng-click="isLogin=!isLogin">{{ isLogin ? "Đăng ký" : "Đăng nhập" }}</button>
<button ng-show="isLogin && !isForgetPassword" ng-click="isForgetPassword=true">Quên mật khẩu</button>
<button ng-show="isLogin && isForgetPassword" ng-click="isForgetPassword=false">Back</button>
<div ng-show="isLogin && !isForgetPassword">
    <h3>Đăng nhập:</h3>
    <form ng-submit="loginWithPassword()">
        <label>Email:</label>
        <input type="email" ng-model="login.email">
        <label>Mật khẩu:</label>
        <input type="text" ng-model="login.password">
        <input type="submit" value="Submit" />
    </form>
</div>
<div ng-hide="isLogin">
    <h3>Đăng ký:</h3>
    <form ng-submit="register()">
        <p>
            Tên người dùng:
            <input type="text" ng-model="signup.username">
        </p>
        <p>
            Email:
            <input type="email" ng-model="signup.email">
        </p>
        <p>
            Mật khẩu:
            <input type="password" ng-model="signup.password">
        </p>
        <p>
            Nhập lại mật khẩu:
            <input type="password" ng-model="signup.repeatPassword">
        </p>
        <p>
           Tên hiển thị:
            <input type="password" ng-model="signup.name">
        </p>
        <p>
            Họ:
            <input type="text" ng-model="signup.lastName">
        </p>
        <p>
            Tên:
            <input type="text" ng-model="signup.firstName">
        </p>
        <p>
            Ngày sinh:
            <input type="date" ng-model="signup.birthday">
        </p>
        <p>
            Giới tính:
            <select ng-model="signup.genger">
                <option value="Male">Nam</option>
                <option value="Male">Nữ</option>
            </select>
        </p>
        <input type="submit" value="Submit" />
    </form>
</div>
<div ng-show="isForgetPassword">
    <h3>Quên mật khẩu:</h3>
    <form ng-submit="requestResetPassword()">
        <p>
            Email:
            <input type="email" ng-model="forgetPassword.email">
        </p>
        <input type="submit" value="Reset password" />
    </form>
</div>
