<div class="uk-grid" data-uk-grid-margin>
    <div class="uk-width-medium-1-1">
        <div class="uk-form-row">
            <div ng-show="sectionState==='idle'" class="uk-margin-bottom">
                <a class="md-btn" href="#" ng-click="sectionState='onChangePassword'">Thay đổi mật khẩu</a>
            </div>
            <div ng-show="sectionState!=='idle'" class="uk-margin-bottom">
                <a class="md-btn md-btn-flat md-btn-flat-warning" href="#" ng-click="changePassword()">Đổi mật khẩu của tôi</a>
                <a class="md-btn md-btn-flat" href="#" ng-click="sectionState='idle';utils.resetCredentials();">Trở về</a>
            </div>
        </div>
    </div>
    <div class="uk-width-medium-1-1" ng-show="sectionState!=='idle'">
        <div class="uk-form-row">
            <label>Mật khẩu hiện tại</label>
            <input type="password" class="md-input label-fixed" ng-model="credentials.oldPassword" md-input />
        </div>
        <div class="uk-form-row">
            <label>Mật khẩu mới</label>
            <input type="password" class="md-input label-fixed" ng-model="credentials.newPassword" md-input />
        </div>
        <div class="uk-form-row">
            <label>Nhập lại mật khẩu mới</label>
            <input type="password" class="md-input label-fixed" ng-model="credentials.repeatNewPassword" md-input />
        </div>
    </div>
</div>
