
<div class="uk-panel uk-panel-box uk-panel-box-primary" id="dashboard-xuongdvkt-hero-content" ng-if="vm.pageOptions.displayMode.hero_content.text">
    <marquee behavior="scroll" direction="left" scrollamount="5" style="width:100%;" class="color-{{vm.pageOptions.displayMode.hero_content.mode}}">{{vm.pageOptions.displayMode.hero_content.text}}</marquee>  
</div>
<div style="padding: 0 48px;">
    <div id="xuongdvkt-dashboard">    
        <div class="flip-board-panel">
            <div class="uk-clearfix">
                <div class="uk-align-left" style="margin-top: 10px;margin-bottom:10px;">
                    <div style="display: inline-block;margin-right: 48px;padding-left:18px;"><span class="count count-red">{{vm.pageData.dummy.statistics.numOfDangSuaChua}}</span> <span class="flip-board-desc">lượt đang sửa chữa</span></div>
                    <div style="display: inline-block;margin-right: 48px;"><span class="count count-yellow">{{vm.pageData.dummy.statistics.numOfSuaChuaXong}}</span> <span class="flip-board-desc">lượt chuẩn bị bàn giao</span></div>
                    <div style="display: inline-block;margin-right: 48px;"><span class="count count-green">{{vm.pageData.dummy.statistics.numOfChuanBiBanGiao}}</span> <span class="flip-board-desc">lượt sửa chữa xong</span></div>    
                </div>
                <div class="uk-align-right" ng-hide="$root.primarySidebarOpen" style="margin: 10px 0 0;">
                    <div style="display: block;text-align: right;margin-bottom: -20px;"><span class="count">3:30</span> <span class="flip-board-desc">SA</span></div>
                    <div style="display: block;text-align: right;margin-bottom: 48px" ng-if="!vm.pageOptions.displayMode.hero_content.text">
                        <span class="flip-board-desc" style="font-size:1.15rem; color: #758587;">Thứ 7, ngày 14 tháng 4 năm 2016</span>  
                    </div>  
                </div>
            </div>
            
        </div>
        <div class="uk-grid">
            <div ng-class="{'uk-width-medium-7-10': vm.pageOptions.displayMode.isDisplaySearchPanel, 'uk-width-medium-1-1': !vm.pageOptions.displayMode.isDisplaySearchPanel}" id="xuong_dvkt_list_view">
                <ul class="uk-tab" data-uk-tab="{connect:'#tabs_anim6', animation:'slide-bottom'}">
                    <li class="uk-active"><a href="#">Bảng tin</a></li>
                    <li><a href="#">Thống kê</a></li>
                    <li><a href="#">Quản lý</a></li>
                    <li><a href="#">Thiết lập</a></li>
                </ul>
                <ul id="tabs_anim6" class="uk-switcher uk-margin-remove">
                    <li>
                        <!--
                        <form  class="search-form">
                            <input type="search" placeholder="Tìm kiếm..." ng-model="vm.myFilter">
                        </form>
                        -->
                                       
                        <div style="padding: 20px 30px 10px 30px;" class="uk-container-center uk-align-center">
                            <div style="width:100%;text-align:right;">
                                <span style="color:#F05A28;font-size:1.15rem;font-weight:300;padding-right:18px;padding-top:10px;">Hôm nay</span>   
                            </div> 
                            <table class="uk-table uk-table-hover">
                                <tr class="xuongdvkt-dashboard-title">
                                    <td style="width:10%;" ng-click="vm.utils.dummy.dashboard.cycleOrder('khu_vuc')" ng-class="{'order-active': vm.pageOptions.ui.sort=='khu_vuc' || vm.pageOptions.ui.sort=='-khu_vuc'}">Khu vực</td>
                                    <td style="width:12%;" ng-click="vm.utils.dummy.dashboard.cycleOrder('ma_tb')" ng-class="{'order-active': vm.pageOptions.ui.sort=='ma_tb' || vm.pageOptions.ui.sort=='-ma_tb'}">Mã TB</td> 
                                    <td style="width:12%;" ng-click="vm.utils.dummy.dashboard.cycleOrder('dvql')" ng-class="{'order-active': vm.pageOptions.ui.sort=='dvql' || vm.pageOptions.ui.sort=='-dvql'}">ĐVQL</td>
                                    <td ng-click="vm.utils.dummy.dashboard.cycleOrder('noi_dung_sc')" ng-class="{'order-active': vm.pageOptions.ui.sort=='noi_dung_sc' || vm.pageOptions.ui.sort=='-noi_dung_sc'}">Nội dung sửa chữa</td>
                                    <td style="width:15%;" ng-click="vm.utils.dummy.dashboard.cycleOrder('thoi_gian')" ng-class="{'order-active': vm.pageOptions.ui.sort=='thoi_gian' || vm.pageOptions.ui.sort=='-thoi_gian'}">Sửa chữa</td>
                                    <td ng-click="vm.utils.dummy.dashboard.cycleOrder('du_kien')" ng-class="{'order-active': vm.pageOptions.ui.sort=='du_kien' || vm.pageOptions.ui.sort=='-du_kien'}" style="text-align:right;width:10%;">Dự kiến</td>
                                </tr>
                                <!-- <tr ng-repeat="suachua in vm.pageData.dummy.suachuas | filter: { ma_tb: vm.myFilter } " class="suachuas-dashboard-item" style="background-color: yellow;"> -->
                                <tr dir-paginate="suachua in vm.pageData.dummy.suachuas | orderBy: vm.pageOptions.ui.sort | itemsPerPage: vm.pageOptions.ui.perPage | filter: { ma_tb: vm.myFilter } " total-items="vm.pageData.statistics.totalOfSuaChuas" class="xuongdvkt-dashboard-item" current-page="2">
                                    <td style="color:#888;">{{suachua.khu_vuc}}</td>
                                    <td class="color-{{suachua.color_code}}">{{suachua.ma_tb}}</td> 
                                    <td style="color:#888;">{{suachua.dvql}}</td>
                                    <td style="color:#888;white-space: nowrap;max-width:500px;overflow: hidden;">{{suachua.noi_dung_sc}}</td>
                                    <td style="color:#888;">{{suachua.thoi_gian}}</td>
                                    <td class="color-{{suachua.color_code}}" style="text-align:right;">{{suachua.du_kien}}</td>
                                </tr>
                            </table>
                            <div style="width:100%;text-align:right;color:#555;">
                                <span>2016 © Phòng Kỹ Thuật Vật Tư, Tổng Công Ty Tân Cảng Sài Gòn.</span>
                            </div>             
                        </div>
                               
                    </li>
                    <li>
                       <dashboard-xuongdvkt-charts></dashboard-xuongdvkt-charts>
                    </li>
                    <li>
                        <dashboard-xuongdvkt-manage page-options="vm.pageOptions"></dashboard-xuongdvkt-manage>
                    </li>
                    <li>
                        <dashboard-xuongdvkt-settings page-options="vm.pageOptions"></dashboard-xuongdvkt-settings>
                    </li>
                </ul>  
            </div>
            <div class="uk-width-medium-3-10" ng-if="vm.pageOptions.displayMode.isDisplaySearchPanel">
                <dashboard-xuongdvkt-search-panel></dashboard-xuongdvkt-search-panel>
            </div>
        </div>       
        
    </div>        
</div>
