
<div class="uk-panel uk-panel-box uk-panel-box-primary" id="dashboard-xuongdvkt-hero-content">
    <marquee behavior="scroll" direction="left" scrollamount="5" style="width:100%;">{{vm.pageData.dummy.headerText}}</marquee>  
</div>
<div style="padding: 0 48px;">
    <div id="xuongdvkt-dashboard">    
        <div class="flip-board-panel">
            <div class="uk-clearfix">
                <div class="uk-align-left">
                    <div style="display: inline-block;margin-right: 48px;"><span class="count count-red">{{vm.pageData.dummy.statistics.numOfDangSuaChua}}</span> <span class="flip-board-desc">lượt đang sửa chữa</span></div>
                    <div style="display: inline-block;margin-right: 48px;"><span class="count count-yellow">{{vm.pageData.dummy.statistics.numOfSuaChuaXong}}</span> <span class="flip-board-desc">lượt chuẩn bị bàn giao</span></div>
                    <div style="display: inline-block;margin-right: 48px;"><span class="count count-green">{{vm.pageData.dummy.statistics.numOfChuanBiBanGiao}}</span> <span class="flip-board-desc">lượt sửa chữa xong</span></div>    
                </div>
                <div class="uk-align-right">
                    <div style="display: inline-block;"><span class="count">3:30</span> <span class="flip-board-desc">SA</span></div>  
                </div>
            </div>
        </div>        
        <ul class="uk-tab" data-uk-tab="{connect:'#tabs_anim6', animation:'slide-bottom'}">
            <li class="uk-active"><a href="#">Bảng tin</a></li>
            <li><a href="#">Thống kê</a></li>
            <li><a href="#">Quản lý</a></li>
            <li><a href="#">Thiết lập</a></li>
        </ul>
        <ul id="tabs_anim6" class="uk-switcher uk-margin-remove">
            <li>
                <form  class="search-form">
                    <input type="search" placeholder="Tìm kiếm..." ng-model="vm.myFilter">
                </form>
                <div style="padding: 0 30px 30px 30px;" class="uk-container-center uk-align-center">
                    <table class="uk-table uk-table-hover">
                        <tr class="xuongdvkt-dashboard-title">
                            <td>Khu vực</td>
                            <td>Mã TB</td> 
                            <td>ĐVQL</td>
                            <td>Nội dung sửa chữa</td>
                            <td>Sửa chữa</td>
                            <td style="text-align:right;">Dự kiến</td>
                        </tr>
                        <!-- <tr ng-repeat="suachua in vm.pageData.dummy.suachuas | filter: { ma_tb: vm.myFilter } " class="suachuas-dashboard-item" style="background-color: yellow;"> -->
                        <tr dir-paginate="suachua in vm.pageData.dummy.suachuas | itemsPerPage: vm.pageOptions.ui.perPage | filter: { ma_tb: vm.myFilter } " total-items="vm.pageData.statistics.totalOfSuaChuas" class="xuongdvkt-dashboard-item" current-page="2">
                            <td class="color-{{suachua.color_code}}">{{suachua.khu_vuc}}</td>
                            <td class="color-{{suachua.color_code}}">{{suachua.ma_tb}}</td> 
                            <td style="color:#888;">{{suachua.dvql}}</td>
                            <td style="color:#888;">{{suachua.noi_dung_sc}}</td>
                            <td style="color:#888;">{{suachua.thoi_gian}}</td>
                            <td class="color-{{suachua.color_code}}" style="text-align:right;">{{suachua.du_kien}}</td>
                        </tr>
                    </table>               
                </div>
                       
            </li>
            <li>
                Hello!
            </li>
            <li>
                Hello!
            </li>
            <li>
                Hello!
            </li>
        </ul>
    </div>        
</div>
