<div id="nav_quan_ly_search_panel">
	<div>
		<form class="search-form">
            <input type="search" placeholder="Tìm kiếm..." ng-model="myFilter">
        </form>	
	</div>
	<div>
		<h3>Các phương tiện sửa chữa</h3>
		<div class="scrollable-area">
			<table class="uk-table uk-table-hover">
	            <tr ng-repeat="suachua in pageData.dummy.suachuas | filter: { ma_tb: myFilter } " class="search-result-item">
	                <td style="width:30%" class="color-{{suachua.color_code}}">{{suachua.ma_tb}}</td>
	                <td style="width:15%;">{{suachua.khu_vuc}}</td>
	                <td style="width:40%;">{{suachua.thoi_gian}}</td>
	                <td style="text-align:right;">{{suachua.du_kien}}</td>
	            </tr>
	        </table>	
		</div>		
	</div>
</div>
