<div id="nav_thiet_lap">
    <section id="nav_thiet_lap_bang_tin">
        <h3>Các thiết lập chung</h3>
        <div>
            <input type="checkbox" class="switchery switchery-small" color="#F05A28" ui-switch ng-model="$root.primarySidebarOpen" id="switch_display_main_side_bar" />
            <label for="switch_display_main_side_bar" class="inline-label">Hiện bảng điều hướng</label>
        </div> 
        <div>
            <input type="checkbox" class="switchery switchery-small" color="#F05A28" ui-switch ng-model="$root.hideStyleSwitcher" id="switch_display_theme_customizer" />
            <label for="switch_display_theme_customizer" class="inline-label">Ẩn bảng tùy biến</label>
        </div>                        
        <div>
            <input type="checkbox" class="switchery switchery-small" color="#F05A28" ui-switch ng-model="$root.hideMainHeader" id="switch_display_top_bar" />
            <label for="switch_display_top_bar" class="inline-label">Ẩn thanh tác vụ</label>
        </div>                             
    </section>    
</div>
