<div id="top_bar" top-bar ng-class="{'topbar-double-height': vm.pageOptions.topBarHeight=='x2'}">
    <div class="md-top-bar">
        <div class="uk-width-large-8-10 uk-container-center">
            <div class="uk-clearfix">
                <div class="md-top-bar-actions-left">
                    <ul class="top_bar_nav" id="snippets_grid_filter">
                        <li ng-repeat="item in vm.pageOptions.groupBy.source" ng-class="{'uk-active': item.ma===vm.pageOptions.groupBy.selectedId}" ng-click="vm.utils.setGroupById(item.ma)">
                            <a href="#">{{ item.ten }}</a>
                        </li>
                    </ul>
                </div>
                <div class="md-top-bar-actions-right">
                    <div class="md-top-bar-icons">
                        <i id="mailbox_list_split" class=" md-icon material-icons" ng-click="vm.utils.splitListView()">&#xE8EE;</i>
                        <i id="mailbox_list_combined" class="md-icon material-icons" ng-click="vm.utils.combineListView()">&#xE8F2;</i>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

<div class="md-card-list-wrapper" id="mailbox">
    <div class="uk-width-large-8-10 uk-container-center">
    <button ng-click="vm.test()">Test</button>
        <div class="md-card-list" ng-repeat="group in vm.pageData.suachuasRaw track by $index">
            <div class="md-card-list-header heading_list">{{group.value}} ({{group.aggregates['_id'].count}} lượt)</div>
            <div class="md-card-list-header md-card-list-header-combined heading_list" ng-if="$first" style="display: none">Tất cả ({{vm.pageData.statistics['_id'].count}} lượt)</div>
            <ul class="hierarchical_slide" hierarchical-slide>
                
                <li ng-repeat="suachua in group.items" on-last-repeat>
                    <div class="md-card-list-item-menu" data-uk-dropdown="{mode:'click',pos:'bottom-right'}">
                        <a href="#" class="md-icon material-icons">&#xE5D4;</a>
                        <div class="uk-dropdown uk-dropdown-small">
                            <ul class="uk-nav">
                                <li><a href="#"><i class="material-icons">&#xE15E;</i> Reply</a></li>
                                <li><a href="#"><i class="material-icons">&#xE149;</i> Archive</a></li>
                                <li><a href="#"><i class="material-icons">&#xE872;</i> Delete</a></li>
                            </ul>
                        </div>
                    </div>
                    <span class="md-card-list-item-date">{{suachua.thoi_gian.bat_dau | displayDate:fromNow }}</span>
                    <div class="md-card-list-item-avatar-wrapper">
                        <span class="md-card-list-item-avatar md-bg-{{item.sender_color}}-600">{{suachua.dia_diem.khu_vuc.ma | lastCharacter}}</span>
                    </div>
                    <div class="md-card-list-item-modified-dukien">
                        <span>{{suachua.dia_diem.vi_tri}}: {{suachua.thoi_gian.sua_chua_du_kien}} giờ</span>
                    </div>
                    <div class="md-card-list-item-modified-loaitb">
                        <span>{{suachua.phan_loai.loai_tb.ten}}</span>
                    </div>
                    <div class="md-card-list-item-modified-matb">
                        <span>{{suachua.ma_tb.ma_tb}}</span>
                    </div>                    
                    
                    <div class="md-card-list-item-subject">
                        <div class="md-card-list-item-sender-small">
                            <span>{{suachua.ma_tb.ma_tb}}</span>
                        </div>
                        <span>{{suachua.noi_dung.noi_dung}}</span>
                    </div>
                    <div class="md-card-list-item-content-wrapper">
                        <div class="md-card-list-item-content">
                            {{item.content}}
                        </div>
                        <form class="md-card-list-item-reply">
                            <label for="mailbox_reply_{{$index}}">Reply to <span>{{item.sender}}</span></label>
                            <textarea class="md-input md-input-full" id="mailbox_reply_{{$index}}" cols="30" rows="4" md-input ng-model="item_reply"></textarea>
                            <button class="md-btn md-btn-flat md-btn-flat-primary">Send</button>
                        </form>
                    </div>
                </li>
            </ul>
        </div>
    </div>
</div>