<div class="uk-width-medium-8-10 uk-container-center reset-print">
    <div class="uk-grid uk-grid-collapse" data-uk-grid-margin>
        <div class="uk-width-large-1-1">

            <div class="md-card md-card-single main-print">
                <form action="" class="uk-form-stacked">
                    <div class="md-card-toolbar">
                        <div class="md-card-toolbar-actions" ng-click="vm.addNewCauHoi()">
                            <i class="md-icon material-icons">&#xE161;</i>
                        </div>
                        <input class="md-card-toolbar-input" type="text" placeholder="Tạo câu hỏi mới" readonly/>
                    </div>
                    <div class="md-card-content">
                        <div class="uk-grid uk-margin-medium-top uk-margin-large-bottom" data-uk-grid-margin>
                            <div class="uk-width-large-1-2">
                                <div class="uk-margin-right uk-margin-left">
                                    <h3 class="heading_c uk-margin-small-bottom">Dữ liệu câu hỏi</h3>
                                    <div class="uk-grid uk-margin-medium-top uk-margin-medium-bottom" data-uk-grid-margin>
                                        <div class="uk-width-medium-1-1">
                                            <div class="uk-form-row">
                                                <label>Câu hỏi</label>
                                                <textarea cols="30" rows="4" class="md-input" ng-model="vm.newCauHoi.noi_dung.tieu_de" md-input textarea-autosize></textarea>
                                            </div>
                                        </div>
                                        <div class="uk-width-medium-1-1 uk-clearfix">
                                            <div class="uk-align-medium-right">
                                                Thêm / bớt các lựa chọn:
                                                <i class="md-icon material-icons no-animate" ng-class="{'color-fade': !vm.pageOptions.able.addNumOfLuaChons}" ng-click="vm.utils.addNumOfLuaChons()">&#xE145;</i>
                                                <i class="md-icon material-icons no-animate" ng-class="{'color-fade': !vm.pageOptions.able.decreaseNumOfLuaChons}" ng-click="vm.utils.decreaseNumOfLuaChons()">&#xE15B;</i>
                                            </div>
                                        </div>
                                        <div class="uk-width-medium-1-1">
                                            <ul class="uk-nestable" id="nestable">
                                                <li ng-repeat="item in vm.newCauHoi.noi_dung.lua_chons track by $index" data-id="{{$index}}" class="uk-nestable-item" >
                                                    <div class="uk-nestable-panel">
                                                        
                                                        <div class="uk-grid">
                                                            <div class="uk-width-small-5-6">
                                                                {{ $index | displayNumberAsAlphabelt }}.<br/>
                                                                <textarea cols="30" rows="1" class="md-input uk-text-muted uk-text-small" md-input textarea-autosize style="padding-top:0px;line-height: 16px" ng-model="item.tieu_de"></textarea>
                                                            </div>
                                                            <div class="uk-width-small-1-6">
                                                                <i class="md-icon-fade material-icons no-animate" ng-class="{'color-primary': item.isCorrect}" ng-click="vm.utils.setCorrectAnswer($index)">&#xE876;</i>
                                                            </div>
                                                        </div>
                                                    </div>
                                                </li>
                                            </ul>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="uk-width-large-1-2">

                                <div class="uk-accordion" data-uk-accordion>
                                    <h3 class="uk-accordion-title">Phân loại</h3>
                                    <div class="uk-accordion-content">
                                        <div class="uk-grid uk-margin-medium-bottom">
                                            <div class="uk-width-medium-1-1 uk-clearfix">
                                                <div class="uk-align-medium-right">
                                                    <i class="md-icon material-icons no-animate" ng-class="{'color-fade': !vm.pageOptions.able.addNumOfLuaChons}" ng-click="vm.utils.addNumOfLuaChons()">&#xE898;</i>
                                                    <i class="md-icon material-icons no-animate" ng-class="{'color-fade': !vm.pageOptions.able.decreaseNumOfLuaChons}" ng-click="vm.utils.decreaseNumOfLuaChons()">&#xE55C;</i>
                                                </div>
                                            </div>
                                            <div class="uk-width-medium-3-5">
                                                <div class="uk-form-stacked">
                                                    <label for="cauhoi_phanloai_nhomcauhoi">Nhóm câu hỏi</label>
                                                    <select kendo-drop-down-list style="width: 100%;" id="cauhoi_phanloai_nhomcauhoi"
                                                        k-ng-model="vm.newCauHoi.phan_loai.nhom_cau_hoi"
                                                        k-data-text-field="'ten'" 
                                                        k-filter="'contains'"
                                                        k-data-source="vm.dictionary.nhom_cau_hois">
                                                    </select>
                                                </div>
                                            </div>
                                            <div class="uk-width-medium-2-5">
                                                <div class="uk-form-stacked">
                                                    <label for="cauhoi_phanloai_mucdo">Mức độ</label>
                                                    <select kendo-drop-down-list style="width: 100%;" id="cauhoi_phanloai_mucdo"
                                                        k-ng-model="vm.newCauHoi.phan_loai.muc_do"
                                                        k-data-text-field="'ten'"
                                                        k-data-source="vm.dictionary.muc_dos">
                                                    </select>
                                                </div>
                                            </div>
                                            <div class="uk-width-medium-1-2 uk-margin-medium-top">
                                                <div class="uk-form-stacked">
                                                    <label for="cauhoi_phanloai_nhomtb">Nhóm TB</label>
                                                    <select kendo-drop-down-list style="width: 100%;" id="cauhoi_phanloai_nhomtb"
                                                        k-ng-model="vm.newCauHoi.phan_loai.nhom_tb"
                                                        k-data-text-field="'ten'"
                                                        k-filter="'contains'"
                                                        k-data-source="vm.dictionary.nhom_tbs">
                                                    </select>
                                                </div>
                                            </div>
                                            <div class="uk-width-medium-1-1 uk-margin-medium-top">
                                                <label for="cauhoi_phanloai_loaithietbi">Loại TB</label>
                                                <select kendo-multi-select id="cauhoi_phanloai_loaithietbi"
                                                    k-data-source="vm.dictionary.loai_tbs[vm.newCauHoi.phan_loai.nhom_tb.ma]"
                                                    k-data-text-field="'ten'"
                                                    k-ng-model="vm.newCauHoi.phan_loai.loai_tb">
                                                </select>
                                            </div>
                                            <div class="uk-width-medium-1-1 uk-margin-medium-top">
                                                <div class="uk-form-stacked">
                                                    <label for="cauhoi_phanloai_bacthi">Bậc thi</label>
                                                    <select kendo-multi-select id="cauhoi_phanloai_bacthi"
                                                        k-data-source="vm.dictionary.bac_this"
                                                        k-ng-model="vm.newCauHoi.phan_loai.bac_thi">
                                                    </select>
                                                </div>
                                            </div>                                           
                                        </div>
                                    </div>
                                    <h3 class="uk-accordion-title">Đối chiếu</h3>
                                    <div class="uk-accordion-content">
                                        <div class="uk-grid uk-margin-medium-bottom">
                                            <div class="uk-width-medium-1-1 uk-clearfix">
                                                <div class="uk-align-medium-right">
                                                    <i class="md-icon material-icons no-animate" ng-class="{'color-fade': !vm.pageOptions.able.decreaseNumOfLuaChons}" ng-click="vm.utils.decreaseNumOfLuaChons()">&#xE157;</i>
                                                    <i class="md-icon material-icons no-animate" ng-class="{'color-fade': !vm.pageOptions.able.decreaseNumOfLuaChons}" ng-click="vm.utils.decreaseNumOfLuaChons()">&#xE8F4;</i>
                                                    <i class="md-icon material-icons no-animate" ng-class="{'color-fade': !vm.pageOptions.able.decreaseNumOfLuaChons}" ng-click="vm.utils.decreaseNumOfLuaChons()">&#xE1B7;</i>
                                                </div>
                                            </div>
                                            <div class="uk-width-medium-1-1">
                                                <label for="cauhoi_phanloai_loaithietbi">Dữ liệu từ hệ thống</label>
                                                <input kendo-auto-complete style="width: 100%;" 
                                                    ng-model="country"
                                                    k-data-source="vm.countryNames"/>
                                            </div>
                                            <div class="uk-width-medium-1-2">
                                                <div class="uk-form-row">
                                                    <label>TopX</label>
                                                    <input type="text" class="md-input" ng-model="vm.newCauHoi.ma_tb.ma_topx" md-input />
                                                </div>
                                            </div>
                                            <div class="uk-width-medium-1-2">
                                                <div class="uk-form-row">
                                                    <label>Maximo</label>
                                                    <input type="text" class="md-input" ng-model="vm.newCauHoi.ma_tb.ma_maximo" md-input />
                                                </div>
                                            </div>
                                            <div class="uk-width-medium-1-2">
                                                <div class="uk-form-row">
                                                    <label>Topovn</label>
                                                    <input type="text" class="md-input" ng-model="vm.newCauHoi.ma_tb.ma_topovn" md-input />
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                    <h3 class="uk-accordion-title">Thiết lập</h3>
                                    <div class="uk-accordion-content">
                                        <div class="uk-grid uk-margin-medium-top uk-margin-medium-bottom" data-uk-grid-margin>
                                            <div class="uk-width-medium-1-2">
                                                <div class="uk-form-stacked">
                                                    <label for="kUI_dropdown_static">Sở hữu</label>
                                                    <select kendo-drop-down-list style="width: 100%;" 
                                                        ng-model="vm.newCauHoi.don_vi_so_huu.keyId"
                                                        k-data-text-field="'ten'"
                                                        k-data-value-field="'_id'"
                                                        k-filter="'contains'"
                                                        k-data-source="vm.donvis"
                                                        k-rebind="vm.donvis">
                                                    </select>
                                                </div>
                                            </div>
                                            <div class="uk-width-medium-1-2">
                                                <div class="uk-form-stacked">
                                                    <label for="kUI_dropdown_static">Quản lý</label>
                                                    <select kendo-drop-down-list style="width: 100%;"
                                                        ng-model="vm.newCauHoi.don_vi_quan_ly.keyId"
                                                        k-data-text-field="'ten'"
                                                        k-data-value-field="'_id'"
                                                        k-filter="'contains'"
                                                        k-data-source="vm.donvis"
                                                        k-rebind="vm.donvis">
                                                    </select>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                    <h3 class="uk-accordion-title">Bảo hành</h3>
                                    <div class="uk-accordion-content">
                                        <div class="uk-grid uk-margin-medium-top uk-margin-medium-bottom" data-uk-grid-margin>
                                            <div class="uk-width-medium-3-5">
                                                <div class="uk-form-stacked">
                                                    <label for="kUI_dropdown_static">Ngày bàn giao</label>
                                                    <input kendo-date-picker k-ng-model="vm.newCauHoi.ho_so_tb.thong_tin_chung.bao_hanh.ngay_ban_giao" k-format="'dddd, dd/MM/yyyy'" style="width: 100%;" />
                                                </div>
                                            </div>
                                            <div class="uk-width-medium-2-5">
                                                <div class="uk-form-stacked">
                                                    <label for="kUI_dropdown_static">Tình trạng</label>
                                                    <select kendo-drop-down-list style="width: 100%;" ng-model="vm.newCauHoi.ho_so_tb.thong_tin_chung.bao_hanh.tinh_trang_ban_giao">
                                                        <option>Mới</option>
                                                        <option>Đã qua SD</option>
                                                    </select>
                                                </div>
                                            </div>
                                            <div class="uk-width-medium-1-1">
                                                <input type="checkbox" name="style_sidebar_mini" id="style_sidebar_mini" icheck ng-model="vm.newCauHoi.ho_so_tb.thong_tin_chung.bao_hanh.isThongTinBaoHanh" /> Có thông tin bảo hành
                                            </div>
                                            <div class="uk-width-medium-1-2 uk-margin-medium-top no-animate" ng-show="vm.newCauHoi.ho_so_tb.thong_tin_chung.bao_hanh.isThongTinBaoHanh">
                                                <div class="uk-form-row">
                                                    <label>Thời gian (tháng)</label>
                                                    <input type="number" class="md-input" ng-model="vm.newCauHoi.ho_so_tb.thong_tin_chung.bao_hanh.thoi_gian_bao_hanh" md-input />
                                                </div>
                                            </div>
                                            <div class="uk-width-medium-1-2">
                                            </div>
                                            <div class="uk-width-medium-1-2  uk-margin-medium-top no-animate" ng-show="vm.newCauHoi.ho_so_tb.thong_tin_chung.bao_hanh.isThongTinBaoHanh">
                                                <div class="uk-form-stacked">
                                                    <label for="kUI_dropdown_static">Từ ngày</label>
                                                    <input kendo-date-picker id="baohanh_start" 
                                                        k-ng-model="vm.newCauHoi.ho_so_tb.thong_tin_chung.bao_hanh.thoi_gian_bat_dau"
                                                        k-format="'dd/MM/yyyy'"
                                                        style="width: 100%;" />
                                                </div>
                                            </div>
                                            <div class="uk-width-medium-1-2  uk-margin-medium-top no-animate" ng-show="vm.newCauHoi.ho_so_tb.thong_tin_chung.bao_hanh.isThongTinBaoHanh">
                                                <div class="uk-form-stacked">
                                                    <label for="kUI_dropdown_static">Đến ngày</label>
                                                    <input kendo-date-picker id="baohanh_end"
                                                        k-ng-model="vm.newCauHoi.ho_so_tb.thong_tin_chung.bao_hanh.thoi_gian_ket_thuc"
                                                        k-format="'dd/MM/yyyy'"
                                                        style="width: 100%;"                                                        
                                                        k-ng-readonly="true" />
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                    <h3 class="uk-accordion-title">Ghi chú</h3>
                                    <div class="uk-accordion-content">
                                        <div class="uk-grid uk-margin-medium-bottom" data-uk-grid-margin>
                                            <div class="uk-width-1-1">
                                                <label for="user_bio">Mô tả</label>
                                                <textarea id="user_bio" class="md-input" name="user_bio" cols="10" rows="2" md-input ng-model="vm.newCauHoi.mo_ta"></textarea>
                                            </div>
                                            <div class="uk-width-1-1">
                                                <label for="user_bio">Ghi chú</label>
                                                <textarea id="user_bio" class="md-input" name="user_bio" cols="10" rows="2" md-input ng-model="vm.newCauHoi.ghi_chu"></textarea>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            
                        </div>
                    </div>
                </form>
            </div>
            
        </div>
    </div>
</div>
